<div style="height: 75vh">
<div class="section">
  <div class="top-border left"></div>
  <div class="top-border right"></div>
  <h1>CONTACT US</h1>
  <p style="font-family: 'Roboto Slab', serif; font-size: 18px">If you have any query related to anything on the blog click the below contact button. Feel free to reach to us and we will try to give response as soon as possible.</p>
  <a href="mailto:utemp642@outlook.com" class="btn btn-danger">CONTACT US</a>
</div>
</div>
<%= render "shared/footer" %>
<script>
  var x = document.getElementById("contact");
  x.classList.add("active");
</script>