<div class="card wrapper">
  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between mb-2">
      <span>About us</span>
      <% if user_signed_in? and current_user.name.to_s == "admin" %>
      <div>
        <%= link_to 'Edit', edit_about_url(@abouts), class: 'btn btn-warning' %>
        <%#= link_to 'Destroy', @abouts, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
      </div>
        <%end %>
    </h2>
  </div>
  <div class="card-body">
    <p><%= simple_format(@abouts.about) %></p>
  </div>
</div>
</div>
<%= render "shared/footer"%>
<script>
    var x = document.getElementById("about");
    x.classList.add("active");
</script>

