<div class="card wrapper">
  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span>New Article</span>
    </h2>
  </div>
  <div class="card-body">
    <%= render 'form', post: @post, category: @category %>
  </div>
</div>

<script>
    var menu = document.getElementById("home");
    menu.classList.add("active");
</script>


